.site-content {
    box-sizing: border-box;
    column-gap: 3rem;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    margin: 0 auto;
    max-width: 75rem;
    padding: 2rem 1.5rem;
    width: 100%;
}