.site-footer {
    background: #0b5e79;
    border-top: 0.063rem solid #f3f3f3;
    padding: 0.5rem;
    text-align: center;

    .site-info {
        color: #ffffff;
        line-height: 1.5rem;

        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }   
        }
    }
}
