.app {

	&__header {
		background    : #0b5e79;
		border-bottom : 0.063em solid #f3f3f3;
		padding       : 0.5rem;
	}

	&__header-inner {
		align-items     : center;
		display         : flex;
		justify-content : space-between;
		width           : 100%;
	}
}

.branding {
	align-items : center;
	display     : flex;

	&__separator {
		font-size    : 1.125rem;
		margin-left  : 0.75rem;
		margin-right : 0.75rem;
	}

	&__title,
	&__description {
		margin  : 0;
		padding : 0;
	}

	&__title {
		font-size : 1.75rem;
		margin-left: 0.75rem;
	}

	&__link {
		border-bottom   : none;
		color           : #ffffff;
		text-decoration : none;
	}

	&__description {
		color     : #ffffff;
		font-size : 0.9375rem;
	}
}