.content-area {
    .archive-header {
        margin: 0 auto;
        max-width: 640px;

        .header-title {
            margin: 0;
            padding: 0;
        }
    }

    .archive-content {
        margin: 0 auto;
        max-width: 640px
    }
}